@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
}

:root {
  --background: #64C8C8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #64C8C8;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-color: #FFF;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #fae333;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2/3;
  }
  nav {
    /* the following lines add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #fae333;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}
h1 {
  color: white;
}

/* contact section*/
.icons {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 40px;
}

.hero {
  display: flex;
  justify-content: center;
  vertical-align: center;
  background-image: url(/images/blogpics/CONTACT2.png);
  background-color: #64C8C8;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  z-index: -999;
}
  
.container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 50%;
  width: 650px;
  background-color: white;
  padding-top: 40px;
}
  
  
@media screen and (max-width: 800px) {
.card {  
  width: 450px;
  height: 500px;
  padding: 0;
    }
}

/* form section */

h2 {
  color: black;
  font: "Work sans", sans serif;
  display: flex;
  justify-content: center !important;
  text-transform: uppercase;
}

h5 {
  display: flex;
  justify-content: center !important;
}

p {
  width: 400px;
  height: 20px;
}

.message {
  height: 200px;
  width: 400px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.subject {
  width: 400px;
  padding: 4px;
}

.row {
  padding: 4px;
  width: 197px;
}

fieldset {
  width: 410px;
  border: 0;
}

button {
  padding: 5px;
  width: 400px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
}
/* footer section */

.footnote {
  display: flex;
  justify-content: center;
  color: white;
}

footer {
  padding: 30px;
  text-align: center;
  background: var(--background);
}

footer ul {
  margin: 0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  list-style: none;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

